.item-info {
  display: flex;
  justify-content: space-between;

  &__left {
    flex-basis: 48%;
  }

  &__right {
    flex-basis: 48%;
    flex-shrink: 0;
  }
}

@media (max-width: 820px) {
  .item-info {
    flex-direction: column;

    &__left {
      margin-bottom: 20px;
    }
  }
}